//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 06 07:17:18 2023
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "btn" LOCATE = SITE "D18" LEVEL 1;
COMP "stop" LOCATE = SITE "N17" LEVEL 1;
COMP "lcd_4" LOCATE = SITE "R15" LEVEL 1;
COMP "lcd_5" LOCATE = SITE "R16" LEVEL 1;
COMP "lcd_6" LOCATE = SITE "P17" LEVEL 1;
COMP "lcd_7" LOCATE = SITE "M15" LEVEL 1;
COMP "lcd_e" LOCATE = SITE "M18" LEVEL 1;
COMP "mode<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "mode<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "reset" LOCATE = SITE "K17" LEVEL 1;
COMP "speed" LOCATE = SITE "H18" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "led<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "lcd_rs" LOCATE = SITE "L18" LEVEL 1;
COMP "lcd_rw" LOCATE = SITE "L17" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

